<div class="class">
    <header>
      <h1>Serviços</h1>
    </header>
    <section style="margin: 10px;">
        <ol>
          <li>Compras</li>
          <li>Vendas</li>
          <li>Etc..</li>
        </ol>
    </section>
    <section style="margin: 10px;">
      <ol>
        <li>{{ serviceData.category }}</li>
        <li>{{ serviceData.value }}</li>
        <li>{{ serviceData.time }}</li>
      </ol>
  </section>
    <section>
      <ol>
        <li><img src="{{ img1 }}" alt=""></li>
        <li><img src="{{ img2 }}" alt=""></li>
        <li><img src="{{ img3 }}" alt=""></li>
      </ol>
  </section>
</div>

